# .env
# Onshape API Configuration
# Obtained at https://dev-portal.onshape.com/keys

ONSHAPE_API=https://cad.onshape.com
ONSHAPE_ACCESS_KEY=YOUR_KEY
ONSHAPE_SECRET_KEY=PLEASE_DONT_SHARE_YOUR_KEY_PUBLICLY
